flask==3.0.3
flask-cors==4.0.1
waitress==2.1.2
requests==2.31.0
python-decouple==3.8
numpy==1.26.4
pandas==2.2.2
psycopg2-binary==2.9.9
redis==5.0.4
python-binance==1.0.19
scikit-learn==1.4.2
lightgbm==4.3.0
